@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #12279A;
  --color-secondary: #EDBB2D;
  --color-accent: #454545;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*  */



.footer-heading {
  @apply text-[24px] font-bold;
}

.footer-info {
  @apply text-[16px] font-bold hover:text-secondary transition-colors;
} 

.footer-column {
  @apply 
  flex flex-col gap-4 items-center md:items-start text-center md:text-left;
} 

.footer-list {
  @apply flex flex-col gap-3 text-white font-medium;
} 